---
// src/components/MainLayout.astro
import astroLogo from '../assets/iconosegura.jpg';
const {
  empresa = "EMPRESA",
  icono = astroLogo.src,
  // icono = "/iconosegura.jpg",
  onConfiguracion = "configuracion()",
  onNuevaEmpresa = "nueva_empresa()",
  onNuevoUsuario = "nuevo_usuario()",
  onFichar = "fichar()",
  onFicharMultiple = "fichar_multiple()",
  onAbrirListado = "abrir_listado()",
} = Astro.props;
---

<div id="titulo" class="flex flex-col items-center justify-center min-h-screen bg-white pt-10">
  <!-- Título -->
  <h1 class="text-[24px] font-serif text-center mb-6">
    {empresa}
  </h1>

  <!-- Imagen -->
<img id="logo" src={astroLogo.src} onclick={onConfiguracion}
/>


  <!-- Botones -->
  <div id="botones">
    <button
      id="botonNueva"
     
      onclick={onNuevaEmpresa}
    >
      Alta de nueva empresa
    </button>

    <button
      
      onclick={onNuevoUsuario} 
    >
      Alta de nuevo operario
    </button>

    <button
      
      onclick={onFichar}
    >
      Fichaje individual
    </button>

    <button
      
      onclick={onFicharMultiple}
    >
      Fichaje diario
    </button>

    <button
      
      onclick={onAbrirListado}
    >
      Abrir listados
    </button>
  </div>
</div>
<style>
  #titulo {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family:'Times New Roman', Times, serif;

  }
  
#logo {

  display: flexbox;
    width: 250px;
    height: 250px;
    align-items: center;

  }
  #botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 5vh;
  }
  #botones button {
    background-color: #836914;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
  }
</style>